@import "../../../styles/settings.scss";

.container {
  display: flex;
  justify-content: space-between;
  width: 1230px;
  margin: 0 auto;
  text-align: left;
  font-family: "newsgoth_lt_btlight";
}

.curfoto {
  display: inline-flex;

  img {
    width: auto;
    height: 92vh;
    object-fit: contain;
    // cursor: grab;
  }
}

.allfoto {
  flex: 2;
  background-color: #f1f0f0;
  min-width: 154px;
  height: 92vh;

  .horisontal {
    display: none;
  }
}

.allfoto_mobile {
  display: none;
}

.description {
  flex: 6;
  display: block;
  padding-left: 24px;
  font-size: 1.8vh;
}

.btn_container {
  display: flex;
  flex-direction: row-reverse;
  text-align: left;
}

.btn {
  position: absolute;
  color: white;
  background: #000000;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 33px;
  padding: 15px 35px;
  cursor: pointer;
  text-decoration: none;
  font-family: "MyriadProRegular";
  margin-top: 70px;
  margin-right: 12px;
  font-size: 1.8vh;
}

.carusel {
  display: grid;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  justify-items: center;
}

.gallery {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 80vh;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  list-style-type: none;

  li {
    padding: 0px 40px 0px 0px;
    max-width: 100px;
    max-height: 200px;

    img {
      width: 100px;
      height: 105px;
      object-fit: cover;
    }
  }
}

.active {
  border: #161515 4px solid;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 600px) and (max-width: 767px) {
}

@media (max-width: 599px) {
  .container {
    width: 100%;
    display: grid;
    justify-items: center;
  }

  .curfoto {
    display: flex;
    flex-direction: column;

    img {
      height: 65vh;
    }
  }

  .allfoto {
    height: 12vh;
    width: 100%;

    .carusel {
      display: inline-flex;
      align-items: center;
      height: 12vh;

      .vertical {
        display: none;
      }

      .horisontal {
        display: flex;
      }

      .gallery {
        height: 9vh;
        width: 52vw;
        max-width: 192px;
        overflow: hidden;
      }
    }
  }

  .wrapper {
    display: flex;
    padding: 0px;

    li {
      display: inline;
      padding: 0px;

      img {
        width: auto;
        height: 9vh;
        object-fit: cover;
      }
    }
  }

  .description {
    display: flex;
    flex-direction: column;
  }

  .btn_container {
    display: flex;
    text-align: left;
    justify-content: center;

    .btn {
      margin-top: 0px;
    }
  }
}
