@import "../../../styles/settings.scss";

.container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: left;
  font-family: "newsgoth_lt_btlight";
}

.curfoto {
  flex: 6;
}

.allfoto {
  flex: 2;
  background-color: #f1f0f0;
}

.description {
  flex: 6;
  padding-left: 24px;

  h3 {
    font-family: "Microsoft JhengHei Bold";
  }

  p {
    font-family: "Microsoft JhengHei";
  }
}

.btn_container {
  text-align: left;
  margin-top: 70px;
  margin-left: 280px;
}

.btn {
  color: white;
  background: #000000;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 33px;
  padding: 15px 50px;
  cursor: pointer;
  text-decoration: none;
  font-family: "MyriadProRegular";
}
