@import "../../../styles/settings.scss";

.container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: left;
  font-family: "newsgoth_lt_btlight";
}

.curfoto {
  flex: 6;

  img {
    width: 500px;
    height: 667px;
    object-fit: cover;
  }
}

.allfoto {
  flex: 2;
  background-color: #f1f0f0;
}

.description {
  flex: 6;
  padding-left: 24px;

  h3 {
    font-family: "Microsoft JhengHei Bold";
  }

  p {
    font-family: "Microsoft JhengHei";
  }
}

.btn_container {
  text-align: left;
  margin-top: 70px;
  margin-left: 250px;
}

.btn {
  color: white;
  background: #000000;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 33px;
  padding: 15px 50px;
  cursor: pointer;
  text-decoration: none;
  font-family: "MyriadProRegular";
}

.carusel {
  display: grid;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  justify-items: center;
}

.gallery {
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 575px;
  overflow: hidden;
  min-height: 575px;
}
.btnUp {
}

.btnDown {
}

.wrapper {
  display: grid;
  grid-gap: 10px;
  list-style-type: none;
  // scroll-snap-type: x mandatory;

  li {
    padding: 0px 40px 0px 0px;
    // padding-bottom: 10px;
    // padding-left: 18px;
    max-width: 100px;
    max-height: 200px;

    img {
      width: 100px;
      height: 105px;
      object-fit: cover;
    }
  }
}

.active {
  border: red 3px solid;
}
