@import "../../../styles/settings.scss";

.container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: left;
  font-family: "newsgoth_lt_btlight";
}

.map {
  flex: 8;
  width: 100%;
  height: 100%;
}

.regions {
  fill: #eeeeee;
  // stroke: #ffffff;
  stroke-width: 2;
}

.links {
  flex: 4;
}

.linkWrapper {
  list-style-type: none;
  text-align: left;

  li {
    padding-bottom: 10px;
  }
}

.activeLink:hover {
  color: red;
  font-size: 20px;
}

.description {
  position: absolute;
  text-align: inherit;
  max-height: 250px;
  max-width: 150px;
}

.regions {
  fill: #eeeeee;
  stroke: #706b6b;
  stroke-width: 3;
}

.active {
  fill: url(#image);
}
