@import "../../../styles/settings.scss";

// .navigation {
//   padding: 0 0 0px 0;
// }

.navWrapper {
  list-style-type: none;

  li {
    display: inline-flex;
    margin-right: 36px;
    position: relative;
    font-family: "MyriadProRegular";
  }
}

.searcher {
  border-top: none;
  border-right: none;
  border-left: none;
  outline: none;
  padding-top: 3px;
  width: 100px;
}

.language {
  li {
    margin-right: 10px;
  }

  a {
    margin-right: 10px;
  }
}

.container {
  width: 1140px;
  padding: 0 20px;
  margin: auto;
  text-align: end;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .container {
    width: 100%;
    font-size: 2.4vh;
  }

  .navWrapper {
    padding-left: 0px;

    li {
      margin-right: 8px;
    }
  }
}

@media (min-width: 600px) and (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 0px;
    font-size: 2vh;
  }

  .navWrapper {
    padding-left: 0px;

    li {
      margin-right: 8px;
    }
  }

  .navLinks {
    padding-inline-start: 10px;
  }

  .searcher {
    // width: 20vh;
  }
}

@media (max-width: 599px) {
  .container {
    width: 100%;
    margin: auto;
    padding-left: 0px;
  }

  .navWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      margin-right: 12px;
      margin-bottom: 6px;
    }
  }
}
