@import "../../../styles/settings.scss";

.container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  margin: 0 auto;
  text-align: left;
  font-family: "newsgoth_lt_btlight";
}
