@import "../../../styles/settings.scss";

// html {
//   overflow: hidden;
// }

.container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  padding: 0 20px;
  margin: 0 auto;
  text-align: left;

  h1 {
    font-size: 50px;
    text-align: inherit;
  }

  p {
    text-indent: 5px;
  }
}

.first {
  flex: 4;
  padding: 15px;
  text-align: left;
}

.second {
  flex: 8;
  padding: 15px;
}

.table {
  display: grid;
  grid-template-columns: 350px 350px;
  grid-gap: 40px;
}

.table_img {
  width: 100%;
  height: 100%;
  max-height: 300px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.cardAria {
  width: 100%;
  height: 100%;
  max-height: 300px;
}

.thumbs {
  width: 100%;
  max-width: 350px;
  max-height: 300px;
  opacity: 0.99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}
.thumbs:before {
  content: "";
  background: -webkit-linear-gradient(
    top,
    transparent 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgba(0, 0, 0, 0.7) 100%
  );
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.caption {
  font-family: "Microsoft JhengHei Bold";
}

.thumbs img {
  display: block;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.thumbs .caption {
  width: 90%;
  padding: 20px;
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: center;
}
.thumbs .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.thumbs .caption .title {
  line-height: 1;
  font-weight: normal;
  font-size: 18px;
}
.thumbs .caption .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.thumbs:focus:before,
.thumbs:focus span,
.thumbs:hover:before,
.thumbs:hover span {
  opacity: 1;
}
.thumbs:focus:before,
.thumbs:hover:before {
  top: 50%;
}
.thumbs:focus span,
.thumbs:hover span {
  top: 0;
}
.thumbs:focus .title,
.thumbs:hover .title {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.thumbs:focus .info,
.thumbs:hover .info {
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.cardImg {
  position: relative;
}

.cardText {
  position: absolute;
}

.btn_container {
  text-align: left;
  margin-top: 100px;
}

.home_btn {
  width: 200px;
  color: white;
  background: #000000;
  box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
  border-radius: 33px;
  padding: 15px 36px;
  cursor: pointer;
  text-decoration: none;
  font-family: "MyriadProRegular";
}
